<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Nhập từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp"
                placeholder="Nhập thông tin cần tìm...">
        </div>

<div class="form-group">
            <label for="gerder-input">Nhập từ khóa</label>
            <select name="gender" class="form-control" id="gerder-input">
                <option value="">_Giới tính_</option>
                <option value="male">Đực</option>
                <option value="female">Cái</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>
</div>